.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
.sideimg{
    background-color: rgb(5, 5, 5);
    /* border-top-left-radius: .25rem; 
    border-bottom-left-radius: .25rem; */
}    

.sideimg article{
    text-align: center;   
     margin: 100px;
    margin-top: 100px;
    padding: 50px;
    font-size: 20px;
}
.sideimg article h1 {
padding-top: 50px;
font-size: 40px;
color:rgba(250, 244, 244, 0.911)

}

article p{
    color: rgba(183, 188, 192, 0.973);
    font-size: 30px;
}